.login {
	text-align: center;
	margin: 50px;
}

.button {
	--background: #ba7c3b;
	--background-hover: #fafafa;
	--background-activated: #964e01;
	--background-focused: #964d00;

	--color: rgb(255, 255, 255);

	--shape: round;

	--box-shadow: 0 50px 6px 0 rgb(0, 0, 0, 0.25);

	--ripple-color: rgb(254, 162, 35);

	--padding-top: 10px;
	--padding-bottom: 10px;
	margin: 20px;
}

.title {
	padding-top: 0.5rem;
	/* text-align: ; */
	margin-bottom: 20px;
	font-size: 40px;
	color: #bb7d3c;
	margin-left: 20px;
}

.link {
	color: white;
	font-size: small;
	text-decoration: none;
	margin-left: 55px;
}

.logo {
	margin: 25px;
	margin-bottom: 50px;
	height: 70px;
	width: 70px;
}

.img {
	max-width: 100%;
	display: block;
}

.background {
	background: url('../../public/assets/fork.jpg') 0 0/100% no-repeat;
	background-size: cover;
	background-position: center;
	margin: auto;
	z-index: 2;
}

ion-content {
	--background: #fff url(../../Assets/fork.jpg) no-repeat center/cover cover;
}

.footer {
	padding-bottom: 1rem;
	background-color: transparent;
}
