.signup {
    text-align: center;
    margin: 50px;
    border: solid #bb7d3c 5px;
    border-style: groove;
   }
   
   .hi {
       margin: 50px;
       color: white;
       font-size: 18px;
   }
   
   .form {
    text-align: center;
    margin-top: 30px;
   }

   /* .button {
    margin-left: 120px;
   } */

   .logo2 {
    margin: 25px;
    margin-bottom: 50px;
    height: 70px;
    width: 70px;
    margin-top: 50px;
}

